.fonted {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: 300;
    
}

.navlink {
    font-size: 1.3em;
}

.quote {
    padding: 4vh;
    width: 80vw;
    border-top: 2px solid #edebeb;
    border-bottom: 2px solid #edebeb;
    margin: 5em;
}

.title {
    position: absolute;
    left: 50px;
    top: 15px;
}

.divider {
  border-top: 2px solid #edebeb;
  width: 80%;
  margin-bottom: 2.5em;
}

.spacer {
    height:100px;
}

.serv {
    height: 500px;
    width: 30vh;
    background-size: cover;
}

 .serv:hover, .serv-a   {
    transition: .3s ease;
    -webkit-filter: brightness(.6);
    filter: brightness(.6);
    scale: 1.03;
    color: white;
}

.serv-a {
    color: black;
}

.serv-a:hover {
    color: white;
}

.drop  {
    color: white;
}

div.dropdown-menu.show {
    background-color: rgb(1,1,1,0); 
    border: none;
  }
  a.dropdown-item {
    color: #ffffff;  
  }

.no-border {
    border: none;
}

.splash {
    background-image: url('./assets/splash.jpg');
    background-size: cover;
    height: 90vh;
    opacity: .8;
}

.navbar-header {
    background-color: purple;
  }

  .navlink {
    color: white;
  }
  .navlink:hover {
    color: black;
  }

  .contact-button {
    background-color: white;
    border: 1px solid #e6c7b9;
    padding: 10px;
    text-decoration: none;
    color: #e6c7b9;
  }

  .contact-button:hover {
    background-color: #e6c7b9;
    color: white;
  }

  .social-photo {
    height: 200px;
  }

  .contact-form {
    width: 50%;
  }

  .bg-cream {
    background-color: #e4dfdc;
  }

  .wedding-splash, .parties-splash, .arrangements-splash {
    height: 400px;
    background-size: cover;
    opacity: .8;
  }

  .wedding-splash {
    background-image: url('https://images.unsplash.com/photo-1664853021355-6a5d73f6198f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'); 
    background-position: right;
  }

  .arrangements-splash {
    background-image: url("https://images.pexels.com/photos/6913124/pexels-photo-6913124.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
  }

  .parties-splash {
    background-image: url('./assets/parties_spash.jpg');
    background-position: -0px -550px;
  }

  .weddings-wrap {
    background-color: #e4dfdc;

  }

  .service-quote-stack {
    width: 75%;
    border-top: 2px solid #e4dfdc;
    border-bottom: 2px solid #e4dfdc;
  }

  .service-quote-title {
    width: 10em;
    background-color: white;
    transform: translateY(-18px);
  }


  .navlink-dark {
    color: black;
    text-decoration: none;
  }

  .navlink-dark:hover {
    color: gray;
  }

  .metal {
    font-family: 'Metal', cursive;
    text-transform: lowercase;
    text-decoration: none;
    color: black;
  }

  .cap-metal {
    font-family: 'Metal', cursive;
    text-decoration: none;
    color: black;
  }

  
  .foot {
    background-color: #edebeb;
    padding: 3em;
  }

  .pinky {
    color: #e6c7b9;
  }

  .contact-splash {
    background-image: url('./assets/contact_splash.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    opacity: .8;
    height: 600px;
  }

  .fonted-lower {
    font-family: 'Playfair Display', serif;

  }

  .about-title {
    font-size: 3em;
  }

  .about-splash {
    height: 100px;
    /* background-image: url('../src/assets/logo.png'); */
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .about-wrap {
    background-color: #e4dfdc;
  }

  .margin-top {
    margin-top: 8em;
  }


@media (max-width: 500px) {
    .splash {
        background-size: cover;
        background-repeat: no-repeat;
        height: 40vh;
    }

    .cont-serv {
        width: 95vw;
        padding: 1em;
    }

    .serv {
        margin-top: 2em;
        margin-bottom: 2em;
        background-position: center;
        height: 400px;
    }
    
    .title {
        left: 10px;
    }

    .quote {
        width: 85vw;
    }

    .contact-button {
        width: 40vw;
    }

    .social-col {
        margin-top: 5em;
    }

    row {
        height: 80vh;
    }

      .social-photo {
    height: 20vh;
    margin-bottom: 2em;
  }

  .contact-form {
    width: 90%;
  }

  .service-quote-stack {
    width: 90%;
  }

}

@media (max-width: 385px) {
  .title {
    font-size: 1.1em;
    
  }

}